section.discount
    .wrapper
        .discount__items
            .discount__item
                .discount__block
                    .block__wrap
                        .discount__block_title Палатки фирмы Outventure 
                        .discount__block_text Скидки до 25% только до конца сентября
                        .discount__block_link.link Купить сейчас
                    .img__wrap
                        img.discount__block_img(src=require("../../img/blue-tent.png").default, alt="")
            .discount__item
                .discount__block
                    .block__wrap
                        .discount__block_title Палатки фирмы Outventure 
                        .discount__block_text Скидки до 25% только до конца сентября
                        .discount__block_link.link Купить сейчас
                    .img__wrap
                        img.discount__block_img(src=require("../../img/tent.png").default, alt="")
            .discount__item
                .discount__block
                    .block__wrap
                        .discount__block_title Палатки фирмы Outventure 
                        .discount__block_text Скидки до 25% только до конца сентября
                        .discount__block_link.link Купить сейчас
                    .img__wrap
                        img.discount__block_img(src=require("../../img/blue-tent.png").default, alt="")
            .discount__item
                .discount__block
                    .block__wrap
                        .discount__block_title Палатки фирмы Outventure 
                        .discount__block_text Скидки до 25% только до конца сентября
                        .discount__block_link.link Купить сейчас
                    .img__wrap
                        img.discount__block_img(src=require("../../img/blue-tent.png").default, alt="")