*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "FuturaBookC";
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  border: solid red;
  width: 82.3%;
  height: 100%;
  margin: 0 auto;
}