@import "../mixins/mixins";
.class {
  width: 100wh;
  height: 1020px;

  .class__title {
    text-align: center;
    font-weight: normal;
    font-size: 72px;
    line-height: 125%;
    margin-bottom: 40px;
  }

  &__flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_first {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 660px;
      height: 890px;
      @include block__class(660px, 360px, "./assets/img/guns.png");

      .block__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;

        &_fourth {
          @include block__class(315px, 500px, "./assets/img/bait.png");
        }

        &_fifth {
          @include block__class(315px, 500px, "./assets/img/ammo.png");
        }
      }
    }

    &_second {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 660px;
      height: 890px;
      @include block__class(660px, 360px, "./assets/img/wearing.png");

      .block__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;

        &_second {
          @include block__class(315px, 500px, "./assets/img/spinning.png");
        }

        &_third {
          @include block__class(315px, 500px, "./assets/img/rod.png");
        }
      }
    }
  }
}
