section.class
    .wrapper
        h3.class__title Категории товаров
        .class__flex
            .class__flex_first
                a.block__class(href="#")
                    .block__title
                        .block__title_number 01
                        .block__title_main Ружья
                        .block__title_to-catalog В каталог
                .block__cards
                    .block__cards_fourth
                        a.block__class(href="#")
                            .block__title
                                .block__title_number 04
                                .block__title_main Приманки
                                .block__title_to-catalog В каталог
                    .block__cards_fifth
                        a.block__class(href="#")
                            .block__title
                                .block__title_number 05
                                .block__title_main Боеприпасы
                                .block__title_to-catalog В каталог
            .class__flex_second
                a.block__class(href="#")
                    .block__title
                        .block__title_number 06
                        .block__title_main Одежда и обувь
                        .block__title_to-catalog В каталог
                .block__cards
                    .block__cards_second
                        a.block__class(href="#")
                            .block__title
                                .block__title_number 02
                                .block__title_main Спиннинги
                                .block__title_to-catalog В каталог
                    .block__cards_third
                        a.block__class(href="#")
                            .block__title
                                .block__title_number 03
                                .block__title_main Удочки
                                .block__title_to-catalog В каталог
