section.news
    .wrapper
        .news__block    
            .news__block_title
                h2.title_main Новинки
                p.title_description Лучшие новинки отчественных и зарубежных производителей
            .news__block_cards
                .choose
                    .for__all Все товары
                    .for__hunting Для охоты
                    .for__fishing Для рыбалки
                    .for__tourism Для туризма
                .swiper-container
                    .swiper-slide
                        img.img_swiper(src="../../assets/img/thegun.png", alt="")
                        .swiper_price
                            .swiper_price_flex
                                .swiper_price_title ТОЗ-34Р (цвет орех)
                                .swiper_price_cost ₽ 39 999
                            a.swiper__link(href="#")
                                figure.icon-add
                    .swiper-slide
                        img.img_swiper(src="../../assets/img/thegun.png", alt="")
                        .swiper_price
                            .swiper_price_flex
                                .swiper_price_title ТОЗ-34Р (цвет орех)
                                .swiper_price_cost ₽ 39 999
                            a.swiper__link(href="#")
                                figure.icon-add
                    .swiper-slide
                        img.img_swiper(src="../../assets/img/thegun.png", alt="")
                        .swiper_price
                            .swiper_price_flex
                                .swiper_price_title ТОЗ-34Р (цвет орех)
                                .swiper_price_cost ₽ 39 999
                            a.swiper__link(href="#")
                                figure.icon-add
                    .swiper-slide
                        img.img_swiper(src="../../assets/img/thegun.png", alt="")
                        .swiper_price
                            .swiper_price_flex
                                .swiper_price_title ТОЗ-34Р (цвет орех)
                                .swiper_price_cost ₽ 39 999
                            a.swiper__link(href="#")
                                figure.icon-add
            a.news__block_to-catalog(href="#") Больше товаров