section.catalog
    .wrapper
        .catalog-guns__title Ружья
        .cards
            a.card(href="#")
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price ₽ 77 900
                    figure.icon-add
            a.card(href="#")
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price ₽ 77 900
                    figure.icon-add
            a.card(href="#")
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price ₽ 77 900
                    figure.icon-add
            a.card(href="#")
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price ₽ 77 900
                    figure.icon-add
            a.card(href="#")
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price ₽ 77 900
                    figure.icon-add