header.header
    .wrapper
        .header__flex
            a.logo(href="../main/index.html")
                img(src="../../assets/img/icons/logo.svg", alt="Логотип")
            nav.nav
                ul.nav__list
                    li.nav__title
                        a.nav__list_link.menu(href="../catalog/catalog.html")
                            span Каталог
                            img(src="../../assets/img/icons/arrow-down.svg", alt="")
                    li.nav__title
                        a.nav__list_link(href="#") Акции
                    li.nav__title
                        a.nav__list_link(href="../news/news.html") Новости
                    li.nav__title
                        a.nav__list_link(href="#") Контакты
            .phone
                .phone__number 8 (8212) 40-00-70
                .phone__number 8 (8212) 26-40-00
            .profile
                a.icon-search(href="#")
                a.icon-profile(href="#")
                a.icon-liked(href="#")
                    .icon-liked_number 99
                a.icon-basket(href="#")
                    .icon-basket_number 2
