.catalog {
  width: 100wh;

  .catalog-guns__title {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    line-height: 125%;
    color: #333333;
  }

  @import "filter";

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 315px));
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
  }

  .card {
    position: relative;
    text-decoration: none;
    color: #333;

    &__block {
      position: relative;
      background: url("../img/default.png") 50% 50% no-repeat;
      background-size: cover;
      width: 100%;
      padding: 0 0 100% 0;
      margin-bottom: 20px;
      display: block;
    }

    &__img {
      background: #e0e0e0;
      max-width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_title {
        display: grid;
        row-gap: 20px;

        &_name {
          font-size: 18px;
          line-height: 20px;
          text-transform: uppercase;
        }

        &_price {
          font-size: 18px;
          line-height: 20px;
          text-transform: uppercase;
          color: #888888;
          display: flex;

          .first__price {
            margin-right: 10px;
            position: relative;
          }

          .discount__price {
            display: none;
          }
        }
      }

      .icon-add {
        font-size: 44px;
        border-radius: 50%;
        background: #333333;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 20px;
      }
    }
  }

  .discount__percent {
    display: none;
  }

  .discount {
    .discount__percent {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 3;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #9d2f2f;
      color: white;
      left: 10px;
      top: 10px;
      font-size: 14px;
      line-height: 16px;
    }

    .first__price {
      color: #9d2f2f;

      &::before {
        content: "";
        position: absolute;
        background: #9d2f2f;
        width: 100%;
        height: 1px;
        top: 40%;
      }
    }

    .discount__price {
      display: block;
    }
  }
}
@import "./catalog-media";
